@media screen and (max-width:800px){
  .navbar{
         left:0;
         display: flex;
         justify-content: space-around;
         display: flex;
        }
        .nav-img{
          margin-left: 1.3rem;
         display: flex;
         flex-direction: row-reverse;
        justify-content: center;
        }
        .navbar-login{
         display: flex;
        flex-direction: row-reverse;
        }
        .logo{
         height: 2.8rem;
        }
        .nav-menu{
          flex-direction: column;
          width: 100vw;
          display: flex;
          gap: 1.5rem;
          justify-content: start;
          padding-top: 2rem;
          height: 70vh;
          position: fixed; 
          background-color: rgb(53, 80, 13);
          top: 72.5px;
          left: -100%;
          z-index:-1;
          cursor: pointer; 
        }
        .login{
          flex-direction: column;
          width: 80vw;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 4rem;
          position: relative;
          position: fixed;
          gap: 1.5rem;
          background: transparent;
          top: 22rem;
          left: -100%;
          z-index:-1;
          cursor: pointer; 
        }
        .active{
          left:0px;
        }
       
        .cart-trolley{
          color: rgb(245, 236, 236);
          margin-top: .5rem;
          font-size: 1.5rem;
         }
         .cartnumber{
           clip-path: circle();
           padding: 6px;
           font-size: .9rem;
           text-align: center;
           position: relative;
           bottom:1.2rem ;
           right: .4rem;
         }
        .nav-bar{
         display: flex;
         justify-content: space-around;
         margin-left: .5rem;
        }

       /* Home */
       .banner{
        background:  rgb(53, 80, 13);
        border-bottom-right-radius: 7rem;
        height: 80vh important;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-around; 
     }
       .banner-img{
        padding-right: 0rem;
         height: 25rem;
         flex-wrap: wrap;
         flex-direction: row-reverse;
         filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
       }
       .banner-des{
        display: inline;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 8vmin 1rem;
      }
       .heading{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 2.37rem;
        flex-wrap: wrap;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.74);
      }
      .des{
        font-size: .73rem;
        display: inline;
        flex-wrap: wrap;
        color: rgba(255, 255, 255, 0.74);
        z-index: 0;
      }
      .buttonb{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: .5rem;
        font-size: .5rem;
        z-index: 1;
      }
      .banner-btn{
        margin-top: 2rem;
        padding: .6rem 1rem;
      }

      /* Home Content */
      .home-content{
        margin: 4rem 0rem;
      }
      .homescale{
      display: flex;
      gap: 20px;
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: start;
      width: 100%;
      height: 12rem;
      }
      .homescale img{
        height: 7rem;
        clip-path: circle() ;
        background-color: rgba(255, 166, 0, 0.37);
        padding: 20px;
      }
      .homescale p{
        margin-top: 1rem;
        text-align: center;
      }
      .home-aboutdes{
        margin: 2rem 0.5rem;
        font-size: 1.1rem;
      }
      .home-aboutdes h3{
        text-align: center;
        font-size: 3rem;
        font-family: 'Kaushan Script', cursive;
      }
      .home-aboutdes p{
        font-size: 1rem;
        margin-top: 2rem;
        padding: 0rem;
      }
      .home-about-img img{
        flex-wrap: wrap;
        height: 13.5rem;
        border-radius: 20px;
      }
      .read-more{
        margin-top: 1rem;
        padding-left: 0;
      }
      .featured-section h6{
        text-align: end;
        margin-right: 1rem;
        font-size: 1rem;
      }
      .home-product{
        margin:3rem 5rem 5rem ;
        display: flex;
        gap: 1rem;
      }
      .card{
        border-radius: 20px ;
        box-shadow: 0 1.25rem 2.1875rem 0 rgb(241 165 1 / 15%);
        max-width: 160px;
        height: 250px;
      }
      .carousel{
        height: 330px;
        z-index: 1;
      }

      /* About */
      .about{
        margin: 5rem .8rem;
        flex-wrap: wrap;
       overflow: hidden;
      }
      .vision-des{
        flex-wrap: wrap;
        font-size: 1.1rem;
        background-color: aliceblue;
        border-radius: 5rem 0rem ;
        padding: 3rem 2rem;
      }
        /* Products */
        .section1-bar{
          display: flex;
          justify-content: end;
          margin: .5rem;
         }
         .active{
          right:0px;
        }
        .section1{
          width: 80vw;
          height: 80vh;
          display: flex;
          border-radius: 0px 15px 15px 0px;
          flex-direction: column;
          position: relative;
          position: fixed;
          background: rgb(247, 244, 244);
          top: 62.5px;
          right: -100%;
          z-index:0;
          cursor: pointer; 
        }
        .search-input{
          margin: 1.5rem 1rem;
          display: flex;
          padding: 1rem 3rem;
          border: 1px solid;
          cursor: pointer;
        }
        .search-input1{
          width: 60vmin;
          font-size: 1rem;
          outline: none;
          border: none;
          background-color: white;
        }
        .product{
          margin:3rem .5rem 5rem ;
          display: flex;
          gap: 1.5rem;
          flex-wrap: wrap;
        }
        .productbody{
          max-width: 120px;
          max-height: 120px;
        }
        .product-img{
          border-radius: 20px 0;
          width: 161px;
          height: 161px;
        }
        .productname{
          font-size: 1rem;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: .3rem 0rem;
          gap: 20px;
        }
        .productprice{
          color:black;
          font-weight: 500;
          font-size: 1rem;
          text-align: center;
        }
        .productdes1{
          padding: 10px ;
          font-size: .8rem;
          border-radius: 13px;
          background-color:#2e7d32;
          border: none;
          color: white;
          cursor: pointer;
        }
        /* Cart */
        .cart{
          margin: .5rem;
        }
        .cartitem{
          display: flex;
           margin: 1rem;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 2rem;
        }
        .cartitem-img{
          display: flex;
          gap: 10px;
        }
        .cartitem-img img{
          height: 5rem;
        }
        .cartitem-img p{
          width: 50px;
        }
        .carditem-price{
          display: none;
        }
      .cartitem-subtotal{
        display: none;
      }
        .quantity{
          width: 2rem;
          background: rgba(220, 220, 220, 0.301);
          border: 1px solid;
          border-radius: 5px;
          margin: 1rem;
       
        }
        .cartitem-remove{
          cursor: pointer;
          color: rgba(236, 53, 53, 0.836);
        }
        .total-items{
          margin: 3rem 1rem 0rem;
          font-size: 1.2rem;
        }
        .cart-sec{
          background: rgba(220, 220, 220, 0.301);
          width: 90%;
          height: 20rem;
          margin: 3rem 1rem;
          border-radius: 20px;
        }
        .cart-end{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          margin: 3rem 0rem;
        }
        .continue-shopping1{
          padding: .5rem ;
           font-size: .7rem;
         }
         
        .continue-shopping2{
         font-size: 1.5rem;
         padding-right: .2rem;
         }
        .total-amount{
         border-radius: 10px;
         background:rgba(220, 220, 220, 0.301) ;
         padding: 1rem;
         }
        .sub-total{
          font-size: .8rem;
         padding-bottom: .5rem;
        }
         .shipping-fee{
        font-size: .8rem;
       margin-bottom: .8rem;
        }
        .order-total{
        font-size: 1rem;
         margin-top: 1rem;
       }
      .checkout{
       text-align: end;
       margin: 0;
       padding-right: 2rem;
       }
     .checkout1{
      padding: .7rem 1.5rem;
       font-size: 1rem;
       }
        /* Services */
        .service-col{
          flex-wrap: wrap;
          margin-top: 3rem;
          height: auto;
          width: 21.5rem;
          background-color: rgba(220, 220, 220, 0.301);
          border-radius: 5rem 0rem 0rem 0rem;
        }
        .service-content{
          margin: 0rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
        .service-content1 h3{
          font-size: 2.5rem;
          font-family:'Kaushan Script', cursive;
         }
         .service-content-title {
          padding: 1rem;
        
        }
        .service-content-title p{
          font-size: 1.1rem;
        
        }
        .service-content-title ul p{
        
          display: list-item;
          margin-left: 40px;
        }
        .service-content-img img{
          margin-top: 2rem;
          flex-wrap: wrap;
          height: 14rem;
          border-radius: 20px;
        }
        .service-content2{
          margin: 2rem 0rem;
          flex-wrap: wrap;
          font-size: 1.2rem;
        }
        .service-content-img2 img{
          margin-top: 4rem;
          flex-wrap: wrap;
          height: 14rem;
          border-radius: 5rem 0 0;
        }
        
        /* Contact */
        .c-des{
          margin-left: 1rem;
        }
        .location {
          display: flex;
          flex-direction: row;
          justify-content: end;
          align-items: center;
          gap: 15px;
        }
        .contactimg{
          flex-wrap: wrap;
          height: 14.5rem;
          border-radius: 20px;
        }   
        .contact-form form{
          margin-top: 3rem;
        }
        .fullname{
        width: 20rem;
        height: 2rem;
        font-size: 1rem;
        border: none;
        border-bottom: 2px solid;
         outline: none;
        }
        .email{
        width: 20rem;
        height: 2rem;
        font-size: 1rem;
        border: none;
        border-bottom: 2px solid ;
        outline: none;
        }
 
        

        /* Footer */
        .footer{
          display: inline;
          flex-direction: column;
          height: 30vh;
          background-color: rgb(53, 80, 13);
        }
        .footer-head{
          background-color: rgb(53, 80, 13);
          padding-left: 2rem;
          margin: .2rem;
          border-top-left-radius: 5rem;
          padding-top: 3.5rem;
        }
        .row{
          display: inline;
        }
        .col1 p{
          text-align: start;
         }
        .logof{
          height: 4rem;
        }
        .fh{
          margin-top: 2rem;
        }
        .col5{
          margin-bottom: 3.5rem;
        }
}